<div class="layout">
    <header class="container">
        <div class="flex justify-content-between h-full">
            <div>
                <h1 class="text-5xl">{{ activity?.title }}</h1>
                <p>{{ activity?.description }}</p>
                <p>{{ activity?.startDate | date: 'dd/MM/yyyy' }}</p>
                <p>{{ activity?.finishDate | date: 'dd/MM/yyyy' }}</p>
            </div>
            <p-button teacherOnly severity="danger" [outlined]="true" (click)="confirmDeleteActivity()" class="h-fit">
                <i class="pi pi-trash"></i>
            </p-button>
        </div>
    </header>

    <div class="container flex flex-column gap-4">
        <section teacherOnly>
            <h2>Students</h2>
            <p>These are the students who participate in this activity.</p>
            <div class="flex align-items-start gap-1">
                <div class="member-count p-2 bg-gray-100">Total <span>{{ students.length }}</span></div>
                <div class="member-count p-2 bg-green-100">Active <span>{{ activeMembers }}</span></div>
                <div class="member-count p-2 bg-blue-100">Remaining <span>{{ students.length - activeMembers }}</span>
                </div>
            </div>
            @if (students.length > 0) {
            <p-table #dt1 [value]="students" dataKey="_id" [rows]="10" [loading]="loadingStudentsTable"
                [globalFilterFields]="['_id', 'name', 'email']" [paginator]="true">
                <ng-template pTemplate="caption">
                    <div class="flex fluid w-full justify-content-start">
                        <span class="p-input-icon-left fluid">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="studentsTableSearchValue"
                                (input)="dt1.filterGlobal(studentsTableSearchValue, 'contains')"
                                placeholder="Search keyword" class="h-full" />
                        </span>
                        <button teacherOnly (click)="addStudentsButton()" class="ui button primary ml-auto">
                            <i class="pi pi-user-plus mr-2"></i>
                            Add students
                        </button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th class="w-2">
                            <div class="flex align-items-center">
                                ID (debug)
                                <p-columnFilter type="text" field="id" display="menu" />
                            </div>
                        </th> -->
                        <th class="w-auto">
                            <div class="flex align-items-center">
                                Name
                                <p-columnFilter type="text" field="name" display="menu" />
                            </div>
                        </th>
                        <th class="w-auto">
                            <div class="flex align-items-center">
                                Email
                                <p-columnFilter type="text" field="email" display="menu" />
                            </div>
                        </th>
                        <th class="w-2">
                            Status
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-student>
                    <tr>
                        <!-- <td>
                            {{ student._id }}
                        </td> -->
                        <td>
                            {{ student.name }}
                        </td>
                        <td>
                            {{ student.email }}
                        </td>
                        <td>
                            @if (student.invitationToken) {
                            <p-tag severity="secondary">Pending</p-tag>
                            } @else {
                            <p-tag severity="success">Active</p-tag>
                            }
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No student matches that search!</td>
                    </tr>
                </ng-template>
            </p-table>
            } @else {
            <div>
                <p class="p-info">No students registered in this activity.</p>
                <button teacherOnly (click)="addStudentsButton()" class="ui button primary">
                    <i class="pi pi-user-plus mr-2"></i>
                    Add students to the activity
                </button>
            </div>
            }
        </section>
        <section> 
            <div studentOnly>
                <div class="flex align-items-center">
                    <div>
                        <h2>Groups</h2>
                        <p>Here you can see all the groups.</p>
                    </div>
                </div>
            </div>
            <div teacherOnly [hidden]="groupsLocked">
                <div class="flex align-items-center">
                    <div>
                        <h2>Groups</h2>
                        <p>Here you can create the groups manually or through our algorithm.</p>
                    </div>
                    <button (click)="onCreateAlgGroupsButton()" class="w-fit ml-auto ui button teal">
                        <i class="pi pi-sparkles mr-2"></i>
                        Create groups
                    </button>
                </div>
            </div>

            <div class="groups-list" [hidden]="groupsLocked">
                @for (group of (groups); track $index) {
                <div class="app-card flex flex-column gap-2" (click)="goGroupDetail(group._id)">
                    <span class="title">
                        {{ group.name }}
                    </span>
                    <p>
                        {{ group.students.length }} members
                    </p>
                    <p-button teacherOnly severity="danger" [outlined]="true"
                        (click)="confirmDeleteGroup(group._id); $event.stopPropagation()"
                        class="mt-auto align-self-end">
                        <i class="pi pi-trash"></i>
                    </p-button>
                </div>
                } @empty {
                    <p class="p-info">There are no groups yet.</p>
                }
                <div teacherOnly>
                    <div class="app-card-new flex flex-column gap-2" (click)="onCreateGroupButton()">
                        <i class="pi pi-plus text-500"></i>
                        Create group
                    </div>
                </div>
            </div>

        </section>

        <section teacherOnly>
            <p-divider />
            <h3>Questionnaires</h3>
            <div class="flex gap-3 flex-wrap">
                @for (questionnaire of questionnaires; track $index) {

                <div class="ui card p-4 m-0">
                    <h3>{{ questionnaire.title }}</h3>
                    <p>{{ questionnaire.description | slice:0:60 }}
                        @if(questionnaire.description.length > 50) {
                        ...
                        }
                    </p>
                    <p>{{ questionnaire.questions.length }} questions.</p>
                    <div studentOnly>
                        <div class="flex justify-content-between gap-2">
                            <button class="ui button primary flex-grow-1">
                                Ask
                            </button>
                        </div>
                    </div>
                    <div teacherOnly>
                        <div class="flex justify-content-between gap-2">
                            <button [disabled]="students.length <= 0" (click)="onSendQuestionnaireToStudents(questionnaire._id)" class="ui button primary flex-grow-1">
                                Send to students
                            </button>
                        </div>
                    </div>
                </div>
                }

            </div>
        </section>

    </div>



    <p-dialog header="Add students" [modal]="true" [(visible)]="addStudentDialogVisible" [style]="{ width: '35rem' }">
        <app-add-students-form (onAddStudents)="onAddStudents($event)"></app-add-students-form>
    </p-dialog>

    <p-dialog header="Create an Group" [modal]="true" [(visible)]="createGroupDialogVisible"
        [style]="{ width: '35rem' }">
        <app-create-group [activity]="activity" [groups]="groups" [students]="students"
            (onGroupCreated)="onGroupCreated($event)"></app-create-group>
    </p-dialog>

    <p-dialog header="Create Groups" [modal]="true" [(visible)]="createAlgGroupsDialogVisible"
        [style]="{ width: 'fit-content', height: 'fit-content' }">
        <app-create-groups-algorithm-form [activity]="activityId" [students]="students" (onRequestSent)="onAlgorithmRequestSent($event)"></app-create-groups-algorithm-form>
    </p-dialog>

</div>

<p-confirmDialog #cd key="dd">
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div class="border-circle inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-exclamation-triangle text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Delete" (click)="cd.accept()" class="w-8rem" severity="danger">
                </button>
                <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>

<!-- Toast para mostrar notificaciones -->
<p-toast position="top-right" [life]="5000"></p-toast>