<div class="w-full flex justify-content-center">
    <form class="ui form w-40rem m-6" (ngSubmit)="onSubmit($event)">
        <h2>Reser your password</h2>
        <p>Strong passwords include numbers, letters, and punctuation marks.</p>
        <div class="field">
            <label for="password">Enter new password</label>
            <input type="password" name="password" [(ngModel)]="password">
        </div>
        <div class="field">
            <label for="email">Confirm new password</label>
            <input type="password" name="password" [(ngModel)]="confirmPassword">
        </div>
        <button type="submit" class="ui fluid primary button">Send</button>
    </form>
</div>