<h2>{{ activity?.title }}</h2>
<p>{{ activity?.description }}</p>
<h3>Students</h3>
<div>
    @for (student of activity?.students; track $index) {
        <div class="header">{{ student.name }}</div>
        <div class="meta">{{ student.email }}</div>
    }
</div>

<button (click)="addStudentsButton()">Add students</button>

<h3>Groups</h3>
<div>
    @for (group of activity?.groups; track $index) {
        <div (click)="goGroupDetail(group.id)">
            <p>{{ group.name }}</p>
            @for (member of group.members; track $index) {
                <p>{{ member.name }} <i>{{ member.email }}</i></p>
            }
        </div>
        
    }
</div>

<button (click)="goCreateGroup()">Create group</button>