<h2>Create a new group</h2>
@if (freeStudents.length === 0 && selectedStudents.length === 0) {
    <p>There are not students out</p>
}
@else {

    <h3>Free students</h3>

@for (student of freeStudents; track $index) {
    <label (click)="selectUser(student)" for="student{{$index}}">{{student.name}} <i>{{student.email}}</i></label>
    }

    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
        <label for="name">name</label>
        <input type="text" id="name" formControlName="name">
        <label for="members">members</label>
        <!-- <textarea type="textarea" id="members" formControlName="members"></textarea> -->
        <div>
            @for (student of selectedStudents; track $index) {
                <p (click)="removeSelectedUser(student)" >{{student.name}} <i>{{student.email}}</i></p>
            }
        </div>
        <button type="submit" [disabled]="!groupForm.valid">Create</button>
    </form>

}